$maxWidth: 1000px;

$primary: #00cc99;
$secondary: #e12d80;
$gray-100: #f6f6f6;
$gray-200: #f7f7f7;
$gary-300: #dddddd;
$gary-400: #333333;
$white: #ffffff;

$fontFamily: 'Noto Sans TC';

$fontXl: 36px;
$fontL: 24px;
$fontM: 18px;
$fontS: 15px;